# Node modules
node_modules

# Build output
dist
build

# Log files
*.log

# Other common items to ignore
.DS_Store

# Misc
__pycache__/
.env
.log
image.sif
*.db
.vscode
dev_container

*storybook.log
