<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/formatting.css') }}">

  <head>
    <title>DGE Analysis</title>
  </head>
  <body>
    <!-- Style upload forms -->
    {{ dropzone.load_css() }}
    {{ dropzone.style('min-height: 60px; max-height: 75px; min-width: 100px; max-width: 200px;') }}
    
    <!-- Upload forms -->
    <label><b>Upload counts (.tsv)</b></label>
    {{ dropzone.create(id='upload-counts', action=url_for('upload_counts')) }}
    <label><b>Upload coldata (.tsv)</b></label>
    {{ dropzone.create(id='upload-coldata', action=url_for('upload_coldata')) }}
    <label><b>Upload filter (.txt)</b></label>
    {{ dropzone.create(id='upload-filter', action=url_for('upload_filter')) }}
    <label><b>Config (.yml or .txt)</b></label>
    {{ dropzone.create(id='upload-config', action=url_for('upload_config')) }}
    {{ dropzone.config(id='upload-config') }}

    {{ dropzone.load_js() }}
  </body>

  <p><form id="submit" action={{ url_for('submit') }} method="post">
    <label> Data type </label>
    <select class='data_type' id='data_type' name="data_type">
      <option value=""></option>
      <option value="microarray">microarray</option>
      <option value="RNA-Seq">RNA-Seq</option>
    </select>
    <div id="form_parameters">
      <p><label id="padj_thresh_label" name="padj_thresh_label">padj_thresh</label>
      <input id='padj_thresh' type="text" name="padj_thresh" ></p>
      <p><label>min_prop</label>
      <input id='min_prop' type="text" name="min_prop"></p>
      <p><label>min_expr</label>
      <input id='min_expr' type="text" name="min_expr"></p>
      <p><label>adj_method</label>
      <input id='adj_method' type="text" name="adj_method"></p>
      <p><label>condition</label>
      <input id='condition' type="text" name="condition"></p>
      <p><label>contrast_level</label>
      <input id='contrast_level' type="text" name="contrast_level"></p>
      <p><label>reference_level</label>
      <input id='reference_level' type="text" name="reference_level"></p>
      <p><label>use_qual_weights</label>
      <input id='use_qual_weights' type="checkbox" name="use_qual_weights"></p>
    </div>
    <p><input type="submit" value="Submit"></p>
  </form></p>

