# Ai Vu: display plots of analysis
<html>
    <head>
        <title>Plots</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/formatting.css') }}">
    </head>
    <body>
        <table class="linkbar">
			<tr>
				<td>
                    <a href="{{ url_for('index') }}" class="button">Home</a>
                    <a href="{{ url_for('display_output') }}" class="button">Previous: Display Results</a></td>
				<td><p class="Fogg">Fogg Lab</p>
                </td>
			</tr>
            <tr>
            </tr>
		</table>
        <h3 style="text-align:center; font-family:verdana; color:purple;"> Data Visualization</h3>
        <h3><mark style="background-color:powderblue;"> Please click the image you want to download</mark></h3>
        <h3><mark style="background-color:powderblue;"> UP</mark> means l2fc > 0.6 and p-value < 0.05</h3>
        <h3><mark style="background-color:powderblue;"> DOWN</mark> means l2fc < -0.6 and p-value < 0.05</h3>
        <h3><mark style="background-color:powderblue;"> NO</mark> means neither meet UP nor DOWN criteria</h3>

        <br>
        <br>
        <h3>
        {% for plot in plot_filenames %}
            <div style="text-align: center;">
                <a href="{{ url_for('getplot', filename=plot) }}" download="filename">
                    <img src="{{ url_for('getplot', filename=plot) }}" alt="Plots of current analysis"
                        style="width: 60%; height: auto; border: solid 1px red; border-radius: 8px; padding: 5px;">
                </a>
            </div>
            <h3 style="text-align:center">Image file name: {{plot}}</h3>
            <br>
            <br>
        {% endfor %}
        </h3>
    </body>
</html>
