<html>
    <head>
        <title>Data Visualization</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/formatting.css') }}">
    </head>
    <body>
		<div class="topnav">
			<a href="{{ url_for('index') }}">Home</a>
			<a class="active" href="#">Analysis</a>

			<a href="{{ url_for('batchsetup') }}">Batch Correction</a>
			<span class="Fogg">Fogg Lab</span>
		</div>
        <a href="{{ url_for('display_output') }}" class="button">Previous: Display Results</a></td>
        <h3 style="text-align:center; font-family:verdana; color:purple;"> Data Visualization</h3>
        <h3><mark style="background-color:powderblue;"> Please click the image you want to download</mark></h3>
        <br>
        <h2>Description</h2>
        <dl>
            <dt>UP</dt>
                <dd>l2fc > 0.6 and p-value < 0.0e</dd>
            <dt>DOWN</dt>
                <dd>l2fc < -0.6 and p-value < 0.05</dd>
            <dt>NO</dt>
                <dd>neither meet UP nor DOWN criteria (not significant) </dd>
        </dl>
        <br>
        <h2>Images</h2>
        <br>
        {% for plot in plot_filenames %}
            <div style="text-align: center;">
                <a href="{{ url_for('getplot', filename=plot) }}" download="filename">
                    <img src="{{ url_for('getplot', filename=plot) }}" alt="Plots of current analysis"
                        style="width: 60%; height: auto; border: solid 1px red; border-radius: 8px; padding: 5px;">
                </a>
            </div>
            <h3 style="text-align:center">Image file name: {{plot}}</h3>
            <br>
            <br>
        {% endfor %}
        </h3>
    </body>
</html>
