<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/formatting.css') }}">

<h1>DGE Analysis - Upload Files</h1>

<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="2000000000">

<table>
	<tr>
		<th>File Name</th>
		<th>Actions</th>
		<th>Upload Progress</th>
	</tr>
	<tr>
		<td>counts.tsv</td>
		<td style="border: 1px dashed black">
			<div class="upload_div" id="counts_upload_div">
				<form id="upload_counts" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
					<input type="file" class="fileselect" id="fileselect_counts" name="fileselect[]" style="display:none">
					<label for="fileselect_counts" class="upload_action_button">Browse</label>
					<div class="filedrag" id="filedrag_counts" style="display: block; font: 13px Helvetica, arial, freesans, clean, sans-serif; color: #333; margin-top:2px; margin-bottom:0px; padding:5px;">or drop counts file here</div>
				</form>
			</div>
			<div style="width:100%;text-align:left;">
				<button onclick="cancel_counts()" class="upload_action_button" id="cancel_counts_button">Cancel</button>
			</div>
		</td>
		<td>
			<div class="progress_div" id="progress_of_counts_div">
			{% if uploads["counts.tsv"] -%}
				<div class="success" id="progress_of_counts">
					File uploaded: counts.tsv
				</div>
			{%- endif %}
			</div>
		</td>
	</tr>
	<tr>
		<td>coldata.tsv</td>
		<td style="border: 1px dashed black">
			<div class="upload_div" id="coldata_upload_div">
				<form id="upload_coldata" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data"></form>
					<input type="file" class="fileselect" id="fileselect_coldata" name="fileselect[]" style="display:none">
					<label for="fileselect_coldata" class="upload_action_button">Browse</label>
					<div class="filedrag" id="filedrag_coldata" style="display: block; font: 13px Helvetica, arial, freesans, clean, sans-serif; color: #333; margin-top:2px; margin-bottom:0px; padding:5px;">or drop coldata file here</div>
				</form>
			</div>
			<div style="width:100%;text-align:left;">
				<button onclick="cancel_coldata()" class="upload_action_button" id="cancel_coldata_button">Cancel</button>
			</div>
		</td>
		<td>
			<div class="progress_div" id="progress_of_coldata_div">
			{% if uploads["coldata.tsv"] -%}
				<div class="success" id="progress_of_coldata">
					File uploaded: coldata.tsv
				</div>
			{%- endif %}
			</div>
		</td>
	</tr>
	<tr>
		<td>filter.txt (optional)</td>
		<td style="border: 1px dashed black">
			<div class="upload_div" id="filter_upload_div">
				<form id="upload_filter" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data"></form>
					<input type="file" class="fileselect" id="fileselect_filter" name="fileselect[]" style="display:none">
					<label for="fileselect_filter" class="upload_action_button">Browse</label>
					<div class="filedrag" id="filedrag_filter" style="display: block; font: 13px Helvetica, arial, freesans, clean, sans-serif; color: #333; margin-top:2px; margin-bottom:0px; padding:5px;">or drop filter file here</div>
				</form>
			</div>
			<div style="width:100%;text-align:left;">
				<button onclick="cancel_filter()" class="upload_action_button" id="cancel_filter_button">Cancel</button>
			</div>
		</td>
		<td>
			<div class="progress_div" id="progress_of_filter_div">
			{% if uploads["filter.txt"] -%}
				<div class="success" id="progress_of_filter">
					File uploaded: filter.txt
				</div>
			{%- endif %}
			</div>
		</td>
	</tr>
	<tr>
		<td>config.yml (optional)</td>
		<td style="border: 1px dashed black">
			<div class="upload_div" id="config_upload_div">
				<form id="upload_config" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data"></form>
					<input type="file" class="fileselect" id="fileselect_config" name="fileselect[]" style="display:none">
					<label for="fileselect_config" class="upload_action_button">Browse</label>
					<div class="filedrag" id="filedrag_config" style="display: block; font: 13px Helvetica, arial, freesans, clean, sans-serif; color: #333; margin-top:2px; margin-bottom:0px; padding:5px;">or drop config file here</div>
				</form>
			</div>
			<div style="width:100%;text-align:left;">
				<button onclick="cancel_config()" class="upload_action_button" id="cancel_config_button">Cancel</button>
			</div>
		</td>
		<td>
			<div class="progress_div" id="progress_of_config_div">
			{% if uploads["config.yml"] -%}
				<div class="success" id="progress_of_config">
					File uploaded: config.yml
				</div>
			{%- endif %}
			</div>
		</td>
	</tr>
</table>

<div id="messages">
</div>

<button onclick="goto('/parameters')" class="button" id="next_button" disabled>Next: Parameters</button>

<script>

	// hide progress bar divs and cancel buttonsfor files which have not been uploaded
	if (document.getElementById("progress_of_counts") == null) {
		document.getElementById("progress_of_counts_div").style.display = 'none';
		document.getElementById("cancel_counts_button").style.display = 'none';
	} else {document.getElementById("progress_of_counts_div").style.backgroundPosition = "0% 0";}

	if (document.getElementById("progress_of_coldata") == null) {
		document.getElementById("progress_of_coldata_div").style.display = 'none';
		document.getElementById("cancel_coldata_button").style.display = 'none';
	} else {document.getElementById("progress_of_coldata_div").style.backgroundPosition = "0% 0";}

	if (document.getElementById("progress_of_filter") == null) {
		document.getElementById("progress_of_filter_div").style.display = 'none';
		document.getElementById("cancel_filter_button").style.display = 'none';
	} else {document.getElementById("progress_of_filter_div").style.backgroundPosition = "0% 0";}

	if (document.getElementById("progress_of_config") == null) {
		document.getElementById("progress_of_config_div").style.display = 'none';
		document.getElementById("cancel_config_button").style.display = 'none';
	} else {document.getElementById("progress_of_config_div").style.backgroundPosition = "0% 0";}
	
	// disable next button if progress counts or coldata not uploaded
	update_next_button()

	function goto(url) {
		window.location.href = url;
		}

	function cancelReqListener() {
		// file upload successfully cancelled
		console.log(this.responseText);
	}

	function cancel_counts() {
		cancel("counts.tsv");
		update_next_button();
	}

	function cancel_coldata() {
		cancel("coldata.tsv");
		update_next_button();
	}
	
	function cancel_filter() {
		cancel("filter.txt");
	}

	function cancel_config() {
		cancel("config.yml");
	}

	function cancel(filename, progress_bar_id) {
		var cancelReq = new XMLHttpRequest();
		filename_base = filename.split(".")[0];
		var progress_bar_id = "progress_of_" + filename_base;
		cancelReq.addEventListener("load", cancelReqListener);
		cancelReq.open("POST", "/cancelupload");
		cancelReq.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		var cancel_req_query = "filename=" + filename;
		var file_progress_bar = document.getElementById(progress_bar_id);
		file_progress_bar.remove();
		cancelReq.send(cancel_req_query);
		// hide the cancel button and progress bar div
		var cancel_button_id = "cancel_" + filename_base + "_button"
		progress_div = document.getElementById(progress_bar_id + "_div")
		progress_div.style.backgroundPosition = "100% 0";
		progress_div.style.display = 'none';
		document.getElementById(cancel_button_id).style.display = 'none';
	}

	function update_next_button() {
		// hide next button if progress counts or coldata not uploaded
		if (
			document.getElementById("progress_of_counts") == null
			|| document.getElementById("progress_of_coldata") == null
			|| document.getElementById("progress_of_counts").className != "success"
			|| document.getElementById("progress_of_coldata").className != "success"
			) {
				document.getElementById("next_button").disabled = true;
			}
			else {
			document.getElementById("next_button").disabled = false;
			}
	}

</script>

<script src="{{ url_for('static',filename='scripts/uploads_form.js') }}"></script>
