/* src/assets/styles.css */
@font-face {
    font-family: 'Stratum2';
    src: url('./fonts/Stratum2-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stratumThin';
    src: url('./fonts/Stratum2-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KievitOffc';
    src: url('./fonts/KievitOffc.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KievitOffc-Bold';
    src: url('./fonts/KievitOffc-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
}

#fogg_logo {
    width: 75px;
}

h4 {
    font-family: 'KievitOffc-Bold';
    font-size: 1em !important;
}

h3 {
    font-family: 'KievitOffc-Bold';
    font-size: 1.2em !important;
}

h2 {
    font-family: 'KievitOffc';
    font-size: 3em;
}

h1 {
    font-family: 'Stratum2';
}

label {
    font-family: 'KievitOffc';
    font-size: 1.2em;
}

input {
    margin-left: 50px;
}


p {
    font-family: 'KievitOffc-Bold';
}

nav {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#primary_navbar {
    background-color: #D73F09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-radius: 15px;
    padding-left: 75px;
    padding-right: 75px;
}

#primary_navbar li {
    padding: 12px;
}

#homepage_main_div {
    display: flex;
    padding-top: 15%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

#homepage_main_div>* {
    margin-bottom: -0.25em;
}

#homepage_main_div h1 {
    font-size: 5em;
}

#homepage_main_div h2 {
    font-size: 3em;
}

#homepage_buttons {
    display: flex;
    /* Use Flexbox for horizontal alignment */
    justify-content: center;
    /* Center the buttons horizontally */
    margin-top: 4%;
    gap: 20px;
    /* Add some space between the buttons */
}

#guideContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

#analysis_content {
    padding: 20px;
    height: 85vh;
    overflow-y: auto;
    box-sizing: border-box;
}


#analysis_container {
    display: flex;
    flex-direction: row;
    padding-top: 0.5%;
    box-sizing: border-box;
    height: 100%;
}

#analysis_user_input {
    background-color: #ECECEC;
    height: calc(100vh - 58px);
    width: 35%;
    padding: 1%;
    box-sizing: border-box;
    overflow-y: auto;
}

#analysis_tab_nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#analysis_run_section {
    padding: 3%;
    box-sizing: border-box;
}

#analysis_visualization_section {
    background-color: #ffffff;
    height: 100%;
    width: 75%;
    box-sizing: border-box;
}

.dataSubfield {
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 3%;
    margin: 1%;
    border-radius: 10px;
    gap: 5px;
}

#adjustmentSubfield {
    font-size: 0.9em !important;
}

#exampleDropdown {
    font-size: 0.9em !important;
    width: 30%;
    border: 1px solid black;
}

#textInput {
    width: 15%;
    border: 1px solid black;
    border-radius: 5px;
}

#analysisInputContainer_comp {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#runAnalysisContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radioLabel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radioLabel input[type="radio"] {
    margin: 0;
}

.radioInput {
    width: 20px;
    height: 20px;
    margin: 0;
}

#filedropContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 10px;
    gap: 10px;
    margin-bottom: 2%;
}

#fogg_logo_home {
    width: 41.8%;
    margin-top: -9%;
    height: auto
}

.filedropArea {
    border: 2px dashed black;
    display: flex;
    padding: 7% 4% 7% 4%;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    width: 45%;
    box-sizing: border-box;
}

.fileName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    display: inline-block;
}

.filedropArea h4 {
    font-family: 'KievitOffc-Bold';
    font-size: 1em !important;
}

.openFilesystemButton {
    width: 95%;
    padding: 7%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #D9D9D9;
}

.databasePopup {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 25%;
    left: 30%;
    width: 57%;
    height: 50%;
    z-index: 1000;
    border-radius: 5px;
    background-color: #D73F09;
    border: 2px solid black;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.8);
    padding: 20px;
    overflow: auto;
}

.databasePopup h1 {
    color: white;
    font-family: 'KievitOffc-Bold';
    font-size: 2em;
}

.databasePopup input {
    width: 250% !important;
    height: 50% !important;
    border: 4px solid black;
    font-size: 1.5em;
    box-sizing: border-box;
    padding: 3%;
    border-radius: 100px !important;
}

.inputWrapper {
    width: 100%;
    border-radius: 100px;
    /* Ensure wrapper takes full width */
    display: flex;
    justify-content: center;
    padding: 10px 0;
    /* Add vertical padding for spacing */
}

.closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.closeButton img {
    width: 64px;
    height: 64px;
}

.analysisInputButton {
    width: 100%;
    height: 15%;
    background-color: #D73F09;
    border-radius: 5px;
    font-family: "KievitOffc";
    font-size: 1.2em;
    color: white;
    border: 1px solid black;
}

.selectedDataset {
    width: 95%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid black;
}

input[type='file'] {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

a li {
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-family: "KievitOffc-Bold";
    font-size: 1.4em;
}

a:hover {
    color: white;
}

/* New styles for the plot/table toggle */
#view_content {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    height: 70%;
    width: 80%;
    overflow-x: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

#view_toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.view-toggle-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-toggle-btn:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.view-toggle-btn:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.view-toggle-btn.active {
    background-color: #D73F09;
    color: white;
}

#view_content {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.inputWrapper {
    position: relative;
    /* Ensure the dropdown is positioned relative to this element */
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    /* Add vertical padding for spacing */
}

.inputWrapper {
    position: relative;
    /* Ensure the dropdown is positioned relative to this element */
    width: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    /* Add vertical padding for spacing */
}

.dropdown {
    position: absolute;
    top: 100%;
    /* Position the dropdown below the input */
    left: 50%;
    /* Center the dropdown */
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    width: 40vw;
    /* 70% of the viewport width */
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
}

.databasePopupButton {
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 3%;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 60%;
    /* Ensure items take full width */
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.dataSubfieldSampleField {
    min-height: 200px;
    height: auto;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    padding: 3%;
    margin: 1%;
    border-radius: 10px;
    gap: 10px;
}

.sampleFieldContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.sampleGroupHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.sampleGroupHeader h3 {
    font-size: 1em;
    font-family: 'KievitOffc';
    margin: 0;
    padding: 0;
    width: 100%;
}

.sampleGroupHeader::before,
.sampleGroupHeader::after {
    content: '';
    flex: 1;
}

.squareButton {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 1;
    padding: 0;
    background-color: #D73F09;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.squareButton:hover {
    background-color: black;
    transition-duration: 0.3s;
}

.groupsList {
    background-color: white;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.groupsList ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.groupItem {
    margin-bottom: 15px;
    height: 40%;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}


.groupItem ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#adjustmentMethod {
    width: 50%;
    margin: 25px;
}

#transformationMethod {
    width: 50%;
    margin: 25px;
}

.sampleListElement {
    background-color: #D73F09;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    margin: 0px 2px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    font-size: 0.6em;
    min-height: 30px;
}

.sampleListElement .sampleText {
    flex: 1 1 auto;
    min-width: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-right: 10px;
}

.sampleListElement .removeButton {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px;
    flex: 0 0 auto;
    margin-left: auto;
}

.sampleListElement .removeButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.groupNameButton {
    background: none;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    border: 3px solid white;
    border-radius: 10px;
    font-family: 'KievitOffc-Bold';
}

.groupNameButton:hover {
    background-color: #f0f0f0;
}

input[type="text"] {
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

[style*="z-index: 100000"] {
    opacity: 0 !important;
}

.sampleFieldContainer ul {
    list-style-type: none;
    margin: 5px 0;
}

.sampleFieldContainer li {
    margin-bottom: 5px;
}

.contrastReferenceFields h2 {
    font-size: 1.2em;
    font-family: 'KievitOffc-Bold';
}

ul.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    top: 100%;
    left: 0;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.suggestions li:last-child {
    border-bottom: none;
}

.suggestions li:hover {
    background-color: #f0f0f0;
}

.inputWrapper {
    position: relative;
}

.databasePopup .inputWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.databasePopup select {
    height: 50px;
    font-size: 1.2em;
    border: 4px solid black;
    border-radius: 10px;
    padding: 0 10px;
    margin-right: 10px;
}

.databasePopup .suggestions {
    max-height: 200px;
    overflow-y: auto;
}

.databasePopup .suggestions li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.databasePopup .suggestions li:last-child {
    border-bottom: none;
}

.databasePopup .suggestions li:hover {
    background-color: #f0f0f0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #D73F09;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.databasePopupButton.loading {
    border: none;
}