body {
	background-color: #FFF;
	color: #333;
	font: 15px Helvetica, arial, freesans, clean, sans-serif;
	word-wrap: break-word;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #4183c4;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}

p, blockquote, ul, ol, dl, table, pre {
	margin: 15px 0;
	}

ul, ol {
	padding-left: 30px;
	}
	h1 {
		border-bottom: 1px solid #ddd;
		color: #000;
		font-size: 2.5em;
		}
	
	h2 {
		border-bottom: 1px solid #eee;
		color: #000;
		font-size: 2.0em;
		}
	
	h3 {
		font-size: 1.5em;
		}
	
	h4 {
		font-size: 1.2em;
		}
	
	h5 {
		font-size: 1.0em;
		}
	
	h6 {
		color: #777;
		font-size: 1.0em;
		}
	
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		line-height: 1.7;
		margin: 1em 0 15px 0;
		}
	
	h1 + p, h2 + p, h3 + p {
		margin-top: 10px;
		}
		
	img {
		max-width: 100%;
		}
	
legend {
	font-weight: bold;
	color: #333;
}

.upload_div {
	margin: 1.5%;
	padding: 1.5%;
	pointer-events: none;
}

.filedrag {
	text-align: center;
	cursor: default;
	display: block;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	color: #333;
	margin: 6px;
	padding:5px;
	border: 2px dashed #555;
	height: 10em;
	width: 10em;
}

.filedrag_hover {
	text-align: center;
	cursor: default;
	display: block;
	font: 13px Helvetica, arial, freesans, clean, sans-serif;
	margin: 6px;
	padding:5px;
	color: green;
	border: 2px dashed green;
	box-shadow: inset 0 3px 4px #888;
	height: 10em;
	width: 10em;
}

img {
	max-width: 100%;
}

pre {
	width: 95%;
	height: 20em;
	font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	font-size: 0.95em;
	padding: 1px 2px;
	margin: 0 0 1em auto;
	border: 1px inset #666;
	background-color: black;
	overflow: auto;
}

#messages {
	padding: 0 10px;
	margin: 1em 0;
	/*border: 1px solid #999;*/
}

.progress_div {
	display: inline-block;
	padding: 0px 0px;
	margin: 2px 0;
	margin-top: 2em;
	border: 1px inset #446;
	border-radius: 5px;
	width: 100%;
	height: 1.5em;
	background: #eee url("progress.png") 100% 0 repeat-y;
	text-align: center;
	pointer-events: none;
}

.success {
	height: 100%;
	width: 100%;
	background: #0c0 none 0 0 no-repeat;
	text-align: center;
	padding: 1px 0;
	font-size: 13px;
}

.failed {
	background: #c00 none 0 0 no-repeat;
	text-align: center;
	padding: 1px 0;
	height: 100%;
	width: 100%;
	font-size: 13px;
}

/* CSS */
.button {
  appearance: none;
  background-color: #dc4405;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:disabled {
  background-color: #dc4405;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
  opacity: 0.5;
}

.button:active {
  background-color: #dc4405;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.central {
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.75); /* Black background with opacity */
	z-index: 2;
}

#time{
	font-size: 30px;
	color: white;
	position: absolute;
	top: 65%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

#console_log {
	font-size: 16px;
	color: white;
	border-radius: 4px;
    padding: .5em .5em 0;
	z-index: 4;
	position: relative;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

#analysis_log {
	height: 20em;
	width: 40em;
	pointer-events: all;
}

#cancel_analysis_button {
	position: absolute;
	top: 75%;
	left: 50%;
	font-size: 16px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

#header h1{
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.upload_action_button {
	display: block;
	margin: auto;
	width: 70%;
	text-align: center;
	background: rgb(235, 235, 235);
	border: 1px solid #999;
	border-radius: 3px;
	padding: 3px 5px;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	font-weight: 700;
	font-size: 10pt;
	pointer-events: all;
}

.buttons {
	margin-left:auto;
	margin-right:auto;
}

#confirm_div_id {
    display: none;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #aaa;
	z-index: 3;
    left: 50%;
	padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

#confirm_div_id button {
    background-color: #ccc;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 2px;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

#confirm_div_id button:hover {
    background-color: #ddd;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 300px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
}
  
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}
  
.tooltip:hover .tooltiptext {
	visibility: visible;
}

.hp {
	font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	bottom: 35%;
	left: 38%;
	margin-left: auto;
	margin-right: auto;
	color: darkblue;
	font-variant: small-caps;
	text-transform: capitalize;
}

.centerinfo {
	border: none;
	border-collapse: collapse;
    border-spacing: 0;
    margin-left: auto;
	margin-right:auto;
	min-width:400px;
	text-align: center;
}

#form_parameters td {
	padding: 5px;
	position: relative;
}

#form_parameters {
	text-align: left;
	position: relative;
	padding: 5px;
}

#form_parameters input {
	width: 70%;
}

#form_parameters th {
	text-align: right;
	position: relative;
}

#form-parameters td {
	text-align: left;
}

#prev_uploads_button {
	margin: auto;
}

.linkbar {
	border: none;
	border-collapse: collapse;
    border-spacing: 0;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-buttons {
	width: 100%;
	margin: auto;
	text-align: center;
}

.topnav {
	overflow: hidden;
	background-color: #d73f09;
	height: 85px;
	padding-right: 265px;
	text-align: center;
}
  
.topnav a {
	display:inline-block;
	color: #f2f2f2;
	padding: 28px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}
  
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
  
.topnav a.active {
	background-color: #d73f09;
	color: black;
}

.Fogg {
	padding: 0;
	font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	font-size: 50px;
	font-variant: small-caps;
	text-transform: capitalize;
	font-weight: 900;
	letter-spacing: 5px;
	background: url(science_bg.jpg) 50% 50%;
	background-size: cover;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

span.Fogg {
	float: left;
	margin-left: 18px;
	pointer-events: none;
}

h2.Fogg {
	font-size: 100px;
	font-variant: normal;
	text-transform: uppercase;
	letter-spacing: 20px;
	margin: 0;
	width: 100%;
}

