html, body { width: 100%; height: 100%; margin: 0 auto; text-align: center; }

.output_filter_div{
    margin:auto;
}

.spicy-table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.85em;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.spicy-table thead {
    position:relative;
}

.spicy-table thead th {
    background:white;
    position:sticky;
    top:0;
}

.spicy-header-div {
    background-color: #8aca8a;
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
}

.spicy-table td {
    padding: 8px 8px;
}

.spicy-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.spicy-table tbody tr:nth-of-type(even) {
    background-color: #f1f1f1;
}

.spicy-table tbody tr:last-of-type {
    border-bottom: medium solid #8aca8a;
}
.spicy-table tbody tr.spicy {
    font-weight: bold;
    color: #76b376;
}

.header-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header-table th {
    padding: 5px 10px;
}
