<html>
	<head>
		<title>{{title}}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css">
		<link rel="stylesheet" href="https://use.typekit.net/mco6ajw.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/formatting.css') }}">
	</head>
	<body>
		<div class="topnav" id="topnavbar">
            <span class="organizational-logo">GENE Platform</span>
            {% if request.endpoint == 'common_bp.index'  %}
                <a class="active" href="#">Home</a>
            {% else %}
                <a href="/">Home</a>
            {% endif %}
            {% if request.endpoint == 'analysis_bp.setup'  %}
                <a class="active" href="#">Analysis</a>
            {% else %}
                <a href="/setup">Analysis</a>
            {% endif %}
            <div class="dropdown">
                <button class="dropbtn">Data Prep Tools
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    {% if request.endpoint == 'batch_correction_bp.batchcorrection' %}
                        <a class="active" href="#">Batch Correction</a>
                    {% else %}
                        <a href="/batch-correction">Batch Correction</a>
                    {% endif %}
                    {% if request.endpoint == 'preprocessing_bp.preprocessing' %}
                        <a class="active" href="#">Preprocessing</a>
                    {% else %}
                        <a href="/preprocessing">Preprocessing</a>
                    {% endif %}
                    {% if request.endpoint == 'normalization_bp.normalization' %}
                        <a class="active" href="#">Normalization</a>
                    {% else %}
                        <a href="/normalization">Normalization</a>
                    {% endif %}
                </div>
            </div>
            {% if request.endpoint == 'correlation_bp.rnaseq_correlation'  %}
                <a class="active" href="#">RNAseq Correlation</a>
            {% else %}
                <a href="/rnaseq-correlation">RNAseq Correlation</a>
            {% endif %}
            <a href="javascript:void(0);" class="icon" onclick="toggleHamburger()">&#9776;</a>
		</div>
        {% if task_id is not defined %}
            {% set task_id = "" %}
        {% endif %}

        <input type="hidden" id="taskID" name="taskID" value={{ task_id }}>
        <script>
            function getTaskID() {
                let taskIDElement = document.getElementById("taskID");
                let taskID = "";
                if (taskIDElement) {
                    taskID = taskIDElement.value;
                }
                return taskID;
            }
        </script>
        {% block content %}{% endblock %}
        <script>
            function toggleHamburger() {
                var x = document.getElementById("topnavbar");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
    </body>
</html>