{% extends 'base.html' %}

{% block scripts %}
	<script src="{{ url_for('static',filename='scripts/task_utilities.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/batch_correction.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/upload.js') }}"></script>
{% endblock %}

{% block content %}

	<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="2000000000">

	<table class="centerinfo">
		<tr>
			<td colspan="2"><h2>Batch Correction - Upload Files</h2></td>
		</tr>
		<tr>
			<td><table style="border: 1px solid black; margin-left: auto; margin-right: auto;">
				<tr>
					<th style="font-size: 20px">Counts</th>
					<th style="font-size: 20px">Coldata</th>
				</tr>
				<tr>
					<td>
						<form class="filedrag" id="upload_counts" method="POST" enctype="multipart/form-data">
							<div class="upload_div" id="counts_upload_div">
								<input type="file" class="fileselect" id="fileselect_counts" name="fileselect[]" style="display:none">
								<p>Drop .tsv file<br>here or<label for="fileselect_counts" class="upload_action_button">Browse</label></p>
							</div>
							<div class="progress_div" id="progress_of_counts_div">
							{% if uploaded_input_files["counts.tsv"] -%}
								<div class="success" id="progress_of_counts">
									Uploaded counts
								</div>
							{%- endif %}
							</div>
							<button type="button" onclick="cancelUpload('counts.tsv')" class="upload_action_button" id="cancel_counts_button">Cancel</button>
						</form>
					</td>
					<td>
						<form class="filedrag" id="upload_coldata" method="POST" enctype="multipart/form-data">
							<div class="upload_div" id="coldata_upload_div">
								<input type="file" class="fileselect" id="fileselect_coldata" name="fileselect[]" style="display:none">
								<p>Drop .tsv file<br>here or<label for="fileselect_coldata" class="upload_action_button">Browse</label></p>
							</div>
							<div class="progress_div" id="progress_of_coldata_div">
							{% if uploaded_input_files["coldata.tsv"] -%}
								<div class="success" id="progress_of_coldata">
									Uploaded coldata
								</div>
							{%- endif %}
							</div>
							<button type="button" onclick="cancelUpload('coldata.tsv')" class="upload_action_button" id="cancel_coldata_button">Cancel</button>
						</form>
					</td>
				</tr>
			</table>
		</tr>
	</td>
	</table>

	<br>
	<form style="text-align:center;" id="batch_correction_form" action="javascript:submit_batch_correction()" method="POST">
		<span>Data type:</span>
		<select id="data_type" name="data_type">
			<option value=""></option>
			<option value="microarray">microarray</option>
			<option value="rnaseq">RNA-Seq</option>
		</select>
		<br>
		<span class="tooltip">Reference level:
			<span class="tooltiptext">
				The level (value) of condition against which effect size is being compared (e.g., “healthy”).
			</span>
		</span>
		<input id="reference_level" type="text" name="reference_level">
		<br>
		<span class="tooltip">Contrast level:
			<span class="tooltiptext">
				The level (value) of condition for which effect size is being studied (e.g., “tumor”).
			</span>
			</span>
		<input id="contrast_level" type="text" name="contrast_level">
	</form>

	<div class="bottom-buttons">
		<button onclick="submit()" class="button" id="submit_button" disabled>Submit</button>
	</div>
	<br>
	<div id="messages" class="bottom-buttons">
	</div>
	<br>
	<div class="bottom-buttons">
		<button onclick="window.location.href='/get-batch-corrected-counts?task_id={{task_id}}'" class="button" id="download-bc-btn" disabled>
			Download batch corrected counts
		</button>
	</div>

{% endblock %}
