{% extends 'base.html' %}

{% block content %}

	<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="2000000000">

	<table class="centerinfo">
		<tr>
			<td colspan="2"><h2>Batch Correction - Upload Files</h2></td>
		</tr>
		<tr>
			<td><table style="border: 1px solid black; margin-left: auto; margin-right: auto;">
				<tr>
					<th style="font-size: 20px">Counts</th>
					<th style="font-size: 20px">Coldata</th>
				</tr>
				<tr>
					<td>
						<form class="filedrag" id="upload_counts" action="/batch-upload" method="POST" enctype="multipart/form-data">
							<div class="upload_div" id="counts_upload_div">
								<input type="file" class="fileselect" id="fileselect_counts" name="fileselect[]" style="display:none">
								<p>Drop .tsv file<br>here or<label for="fileselect_counts" class="upload_action_button">Browse</label></p>
							</div>
							<div class="progress_div" id="progress_of_counts_div">
							{% if uploaded_input_files["counts.tsv"] -%}
								<div class="success" id="progress_of_counts">
									Uploaded counts
								</div>
							{%- endif %}
							</div>
							<button type="button" onclick="cancel_counts()" class="upload_action_button" id="cancel_counts_button">Cancel</button>
						</form>
					</td>
					<td>
						<form class="filedrag" id="upload_coldata" action="/batch-upload" method="POST" enctype="multipart/form-data">
							<div class="upload_div" id="coldata_upload_div">
								<input type="file" class="fileselect" id="fileselect_coldata" name="fileselect[]" style="display:none">
								<p>Drop .tsv file<br>here or<label for="fileselect_coldata" class="upload_action_button">Browse</label></p>
							</div>
							<div class="progress_div" id="progress_of_coldata_div">
							{% if uploaded_input_files["coldata.tsv"] -%}
								<div class="success" id="progress_of_coldata">
									Uploaded coldata
								</div>
							{%- endif %}
							</div>
							<button type="button" onclick="cancel_coldata()" class="upload_action_button" id="cancel_coldata_button">Cancel</button>
						</form>
					</td>
				</tr>
			</table>
		</tr>
	</td>
	</table>

	<br>
	<form style="text-align:center;" id="batch_correction_form" action="javascript:submit_batch_correction()" method="POST">
		<span>Data type:</span>
		<select id="data_type" name="data_type">
			<option value=""></option>
			<option value="microarray">microarray</option>
			<option value="rnaseq">RNA-Seq</option>
		</select>
		<br>
		<span class="tooltip">Reference level:
			<span class="tooltiptext">
				The level (value) of condition against which effect size is being compared (e.g., “healthy”).
			</span>
		</span>
		<input id="reference_level" type="text" name="reference_level">
		<br>
		<span class="tooltip">Contrast level:
			<span class="tooltiptext">
				The level (value) of condition for which effect size is being studied (e.g., “tumor”).
			</span>
			</span>
		<input id="contrast_level" type="text" name="contrast_level">
	</form>

	<div class="bottom-buttons">
		<button onclick="submit_batch_correction()" class="button" id="next_button" disabled>Submit</button>
	</div>
	<br>
	<div id="messages" class="bottom-buttons">
	</div>
	<br>
	<div class="bottom-buttons">
		<button onclick="window.location.href='/get-batch-corrected-counts'" class="button" id="download-bc-btn" disabled>
			Download batch corrected counts
		</button>
	</div>
	<script>
		var UPLOAD_ENDPOINT = "/upload";

		// hide progress bar divs and cancel buttons for files which have not been uploaded
		if (document.getElementById("progress_of_counts") == null) {
			document.getElementById("progress_of_counts_div").style.display = 'none';
			document.getElementById("cancel_counts_button").style.display = 'none';
		} else {
			document.getElementById("progress_of_counts_div").style.backgroundPosition = "0% 0";
			document.getElementById("counts_upload_div").style.display = 'none';
		}

		if (document.getElementById("progress_of_coldata") == null) {
			document.getElementById("progress_of_coldata_div").style.display = 'none';
			document.getElementById("cancel_coldata_button").style.display = 'none';
		} else {
			document.getElementById("progress_of_coldata_div").style.backgroundPosition = "0% 0";
			document.getElementById("coldata_upload_div").style.display = 'none';
		}

		// disable next button if progress counts or coldata not uploaded
		update_next_button()

		function cancelReqListener() {
			// file upload successfully cancelled
			console.log(this.responseText);
		}

		function bcReqListener() {
			// batch correction completed
			// display download button
			let messages = document.getElementById("messages");
			messages.innerHTML = this.responseText;
			if (this.responseText.includes("Batch correction complete.")) {
				document.getElementById("download-bc-btn").disabled = false;
			}
		}

		function cancel_counts() {
			cancel("counts.tsv");
			update_next_button();
		}

		function cancel_coldata() {
			cancel("coldata.tsv");
			update_next_button();
		}

		function cancel(filename) {
			var cancelReq = new XMLHttpRequest();
			let filename_base = filename.split(".")[0];
			let progress_bar_id = "progress_of_" + filename_base;
			let upload_div_id = filename_base + "_upload_div";
			let cancel_button_id = "cancel_" + filename_base + "_button";
			let cancel_req_query = "filename=" + filename;
			let file_progress_bar = document.getElementById(progress_bar_id);
			cancelReq.addEventListener("load", cancelReqListener);
			cancelReq.open("POST", "/cancel-upload");
			cancelReq.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

			cancelReq.send(cancel_req_query);

			// hide the progress bar
			file_progress_bar.remove();
			progress_div = document.getElementById(progress_bar_id + "_div");
			progress_div.style.backgroundPosition = "100% 0";
			progress_div.style.display = 'none';

			// hide the cancel button
			document.getElementById(cancel_button_id).style.display = 'none';

			// show the file upload div
			document.getElementById(upload_div_id).style.display = 'block';
		}

		function update_next_button() {
			// hide next button if progress counts or coldata not uploaded
			if (
				document.getElementById("progress_of_counts") == null
				|| document.getElementById("progress_of_coldata") == null
				|| document.getElementById("progress_of_counts").className != "success"
				|| document.getElementById("progress_of_coldata").className != "success"
				) {
					document.getElementById("next_button").disabled = true;
				}
				else {
					document.getElementById("next_button").disabled = false;
				}
		}

		function submit_batch_correction() {
			datatype_select = document.getElementById("data_type")
			let data_type = datatype_select.options[datatype_select.selectedIndex].text
			let reference_level = document.getElementById("reference_level").value;
			let contrast_level = document.getElementById("contrast_level").value;
			let submitbcReq = new XMLHttpRequest();
			let submit_bc_query = "data_type=" + data_type + "&reference_level=" + reference_level + "&contrast_level=" + contrast_level;
			submitbcReq.addEventListener("load", bcReqListener);
			submitbcReq.open("POST", "/submit-batch-correction");
			submitbcReq.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			submitbcReq.send(submit_bc_query);
			let messages = document.getElementById("messages");
			document.getElementById("download-bc-btn").disabled = true;
			messages.innerHTML = "Performing batch correction...";
		}
	</script>

	<script src="{{ url_for('static',filename='scripts/uploads_form.js') }}"></script>

{% endblock %}
