{% extends 'base.html' %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/task_utilities.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/normalization.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/upload.js') }}"></script>
{% endblock %}

{% block content %}

	<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="2000000000">

	<table class="centerinfo">
		<tr><td colspan="2"><h2>Normalization - Upload Files</h2></td></tr>
		<tr><td colspan="2"><h5 style="margin:0; padding:0;">Performs library size normalization on an RNAseq expression matrix.</h4></td></tr>
		<tr>
			<td><table style="border: 1px solid black; margin-left: auto; margin-right: auto;">
				<tr>
					<th style="font-size: 20px">Counts</th>
					<th style="font-size: 20px">Coldata</th>
				</tr>
				<tr>
					<td>
						<form class="filedrag" id="upload_counts" action="/normalization-upload" method="POST" enctype="multipart/form-data">
							<div class="upload_div" id="counts_upload_div">
								<input type="file" class="fileselect" id="fileselect_counts" name="fileselect[]" style="display:none">
								<p>Drop .tsv file<br>here or<label for="fileselect_counts" class="upload_action_button">Browse</label></p>
							</div>
							<div class="progress_div" id="progress_of_counts_div">
							{% if uploaded_input_files["counts.tsv"] -%}
								<div class="success" id="progress_of_counts">
									Uploaded counts
								</div>
							{%- endif %}
							</div>
							<button type="button" onclick="cancelUpload('counts.tsv')" class="upload_action_button" id="cancel_counts_button">Cancel</button>
						</form>
					</td>
					<td>
						<form class="filedrag" id="upload_coldata" action="/normalization-upload" method="POST" enctype="multipart/form-data">
							<div class="upload_div" id="coldata_upload_div">
								<input type="file" class="fileselect" id="fileselect_coldata" name="fileselect[]" style="display:none">
								<p>Drop .tsv file<br>here or<label for="fileselect_coldata" class="upload_action_button">Browse</label></p>
							</div>
							<div class="progress_div" id="progress_of_coldata_div">
							{% if uploaded_input_files["coldata.tsv"] -%}
								<div class="success" id="progress_of_coldata">
									Uploaded coldata
								</div>
							{%- endif %}
							</div>
							<button type="button" onclick="cancelUpload('coldata.tsv')" class="upload_action_button" id="cancel_coldata_button">Cancel</button>
						</form>
					</td>
				</tr>

			</table>
		</tr>
	</td>
	</table>

	<br>
	<form style="text-align:center;" id="normalization_form" action="javascript:submit()" method="POST">
		<table id="form_parameters" class="centerinfo">
			<tr>
				<th><span>Normalization method:</span></th>
				<td><select id="normalization_method" name="normalization_method">
					<option value="mrn">Median of ratios (MRN)</option>
					<option value="tmm">Trimmed mean of M values (TMM)</option>
				</select></td>
			</tr>
		</table>
	</form>

	<div class="bottom-buttons">
		<button onclick="submit()" class="button" id="submit_button" disabled>Submit</button>
	</div>
	<br>
	<div id="messages" class="bottom-buttons">
	</div>
	<div class="bottom-buttons">
		<button onclick="window.location.href='/get-normalized-counts'" class="button" id="download-norm-btn" disabled>
			Download normalized counts
		</button>
	</div>

	<input type="hidden" id="task_id" value="{{ task_id }}">

{% endblock %}
