{% extends 'base.html' %}

{% block content %}

	<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="2000000000">

	<table class="centerinfo">
		<tr><td colspan="2"><h2>Preprocessing</h2></td></tr>
		<tr><td colspan="2"><h5 style="margin:0; padding:0;">Prepares data from GEO or the GDC data portal for DE analysis</h4></td></tr>
	</td>
	</table>

	<form style="text-align:center;" id="preprocessing_form" action="javascript:submit_preprocessing()" method="POST">
		<table id="form_parameters" class="centerinfo">
			<tr>
				<th><span>Data source:</span></th>
				<td><select id="data_source" name="data_source">
					<option value=""></option>
					<option value="gdc">GDC Data Portal</option>
					<option value="geo">Gene Expression Omnibus (GEO)</option>
				</select></td>
			</tr>
			<tr>
				<th>
					<span class="tooltip" id="gdc_entry_label">GDC project name:
						<span class="tooltiptext" id="gdc_entry_tooltip">
							The name of the GDC project, i.e "TCGA-BRCA".
						</span>
					</span>
					<span class="tooltip" id="geo_entry_label">GEO series accession(s):
						<span class="tooltiptext" id="geo_entry_tooltip">
							Enter one of the following:<br>
							- The GEO series accession, i.e "GSE83411".<br>
							- A comma-separated list of GEO accessions, i.e "GSE4888, GSE6364, GSE7305".
						</span>
				</th>
				<td>
					<input type="text" id="gdc_entry" name="gdc_entry" placeholder="GDC project name">
					<input type="text" id="geo_entry" name="geo_entry" placeholder="GEO series accession(s)">
				</td>
			</tr>
		</table>
	</form>

	<div class="bottom-buttons">
		<button onclick="submit_preprocessing()" class="button" id="submit_button" disabled>Submit</button>
	</div>
	<br>
	<div id="messages" class="bottom-buttons">
	</div>
	<div class="bottom-buttons">
		<button onclick="window.location.href='/get_preprocessed_data'" class="button" id="download-preprocessing-btn" disabled>
			Download preprocessed data
		</button>
	</div>

	<script>
		// show the rest of the form if data source is selected
		update_form();

		document.getElementById("data_source").onchange = update_form;

		function update_form() {
			let data_source = document.getElementById("data_source").value;
			if (data_source && data_source == "gdc") {
				document.getElementById("gdc_entry").style.display = 'block';
				document.getElementById("gdc_entry_label").style.display = 'block';
				document.getElementById("geo_entry").style.display = 'none';
				document.getElementById("geo_entry_label").style.display = 'none';
			}
			else if (data_source && data_source == "geo") {
				document.getElementById("gdc_entry").style.display = 'none';
				document.getElementById("gdc_entry_label").style.display = 'none';
				document.getElementById("geo_entry").style.display = 'block';
				document.getElementById("geo_entry_label").style.display = 'block';
			}
			if (!data_source) {
				document.getElementById("submit_button").style.display = 'none';
				document.getElementById("submit_button").disabled=true;
				document.getElementById("download-preprocessing-btn").style.display = 'none';
				document.getElementById("gdc_entry").style.display = 'none';
				document.getElementById("gdc_entry_label").style.display = 'none';
				document.getElementById("geo_entry").style.display = 'none';
				document.getElementById("geo_entry_label").style.display = 'none';
			}
			else {
				document.getElementById("submit_button").style.display = 'inline-block';
				document.getElementById("submit_button").disabled=false;
				document.getElementById("download-preprocessing-btn").style.display = 'inline-block';
			}
		}

	</script>
{% endblock %}
