{% extends 'base.html' %}

{% block scripts %}
	<script src="{{ url_for('static',filename='scripts/task_utilities.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/correlation.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/upload.js') }}"></script>
{% endblock %}

{% block content %}
	<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="2000000000">

	<table class="centerinfo">
		<tr>
			<td colspan="2"><h2>RNAseq Sample Correlation</h2></td>
		</tr>
		<tr>
			<td><table style="border: 1px solid black; margin-left: auto; margin-right: auto;">
				<tr>
					<th style="font-size: 20px">Counts</th>
				</tr>
				<tr>
					<td>
						<form class="filedrag" id="upload_counts" method="POST" enctype="multipart/form-data" style="display: block;">
							<div class="upload_div" id="counts_upload_div">
								<input type="file" class="fileselect" id="fileselect_counts" name="fileselect[]" style="display:none">
								<p>Drop .tsv file<br>here or<label for="fileselect_counts" class="upload_action_button">Browse</label></p>
							</div>
							<div class="progress_div" id="progress_of_counts_div">
							{% if uploaded_input_files["counts.tsv"] -%}
								<div class="success" id="progress_of_counts">
									Uploaded counts
								</div>
							{%- endif %}
							</div>
							<button type="button" onclick="cancelUpload('counts.tsv')" class="upload_action_button" id="cancel_counts_button">Cancel</button>
						</form>
					</td>
				</tr>
			</table>
		</tr>
	</td>
	</table>

	<br>
	<form style="text-align:center;" id="rnaseq_correlation_form" action="javascript:submit()" method="POST">
		<span>Method:</span>
		<select id="corr_method" name="corr_method">
			<option value=""></option>
			<option value="pearson">Pearson</option>
			<option value="spearman">Spearman</option>
			<option value="both">Pearson and Spearman</option>
		</select>
	</form>

	<div class="bottom-buttons">
		<button onclick="submit()" class="button" id="submit_button" disabled>Submit</button>
	</div>
	<br>

	<div id="pearson_plot"></div>
	<div id="spearman_plot"></div>

	<div id="messages" class="bottom-buttons">
	</div>
	<br>
{% endblock %}
