{% extends 'base.html' %}

{% block scripts %}
<script src="{{ url_for('static',filename='scripts/task_utilities.js') }}"></script>
{% endblock %}

{% block content %}

<table id="tasks-table">
    <tr>
      <th class="table-header" id="type">Task Type</th>
      <th class="table-header" id="status">Status</th>
      <th class="table-header" id="created">Created At</th>
      <th class="table-header" id="updated">Updated At</th>
      <th id="results">Results</th>
    </tr>
    {% for row in user_tasks %}
    <tr>
      <td>{{ row['task_type'] }}</td>
      <td>{{ row['status'] }}</td>
      <td>{{ row['created_at'] }}</td>
      <td>{{ row['updated_at'] }}</td>
      <td>
        <form>
          <a href="{{ url_for('common_bp.get_task_output', task_id=row['task_id']) }}">Download results</a>
        </form>
      </td>
    </tr>
    {% endfor %}

{% endblock %}
